{{>"layouts/header.hbs"}}

<div class="container-fluid">
    <div class="dashboard">

        {{>"components/main-sidebar.hbs"}}

        {{>"components/main-content.hbs"}}

    </div>
</div>

{{>"layouts/footer.hbs"}}
