<!--    Main Sidebar start -->
<div class="main-sidebar">
    <nav>
        <div class="dashboard-item">
            <a href="index.html" class="dashboard-link {{#if dashboard}}active{{/if}}">
                <box-icon type='solid' name='pie-chart-alt-2'></box-icon>
                <span>Dashboard</span>
            </a>
            <a href="#" class="dashboard-link">
                <box-icon name='list-ul'></box-icon>
                <span>Tasks</span>
            </a>
            <a href="form.html" class="dashboard-link {{#if form}}active{{/if}}">
                <box-icon name='text'></box-icon>
                <span>Forms</span>
            </a>
        </div>
    </nav>
</div>
<!--    Main Sidebar end-->
